@import './drawing-container.css';
@import './interaction.css';
@import './owner-me.css';
@import './owner-none.css';
@import './owner-other.css';
@import './notice.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cryto-door{
    display: flex;
    flex-direction: column;
    margin: 20px auto 0px auto;
    border-bottom: 1px gray solid;
}

.btn{
    outline: none;
    border: none;
}

 .btn:hover{
    box-shadow: 3px -3px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px){
    .cryto-door{
        flex-direction: row;
    }
}
