@import './css/entry.css';
@import './css/gallary.css';
@import './css/navigator.css';
@import './css/cryto-door/cryto-door.css';
@import './css/cryto-box/cryto-box.css';
@import './css/simple-ponzi/simple-ponzi.css';
@import './css/mm-guide.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}