.navigator{
    margin: auto;
    height: 50px;
    display: flex;
    color: white;
    font-weight: bold;
    background-color: rgb(49, 49, 49);
}

.navigator .part{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator h2{
    white-space: nowrap;
}

.navigator .part img{
    width: 40px;
    height: 40px;
}

.navigator .part img:hover{
    border: 2px gray solid;
    border-radius: 50%;
}
