.navigator{
    width: 90%;
    margin: auto;
    height: 50px;
    display: flex;
    border-bottom: 3px gray solid;
    margin-top: 30px;
    color: gray;
    font-weight: bold;
}

.navigator .part{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.navigator h2{
    white-space: nowrap;
}

.navigator .part img{
    width: 40px;
    height: 40px;
}

.navigator .part img:hover{
    border: 2px gray solid;
    border-radius: 50%;
}
