.lo .bet{
    flex: 2;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.lo .hori{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 80%;
}

.lo .quantity{
    border-bottom: 1px gray dashed;
}

.lo .sum{
    border-bottom: 1px gray dashed;
}

.lo .quantity-btn{
    padding: 5px 10px;
    background-color: lightcoral;
    color: white;
    outline: none;
}

.lo .bet-btn{
    padding: 5px 10px;
    background-color: blueviolet;
    color: white;
    outline: none;

}